* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box_main {
    width: 60vw;
}
